.container{
    gap: 4px 8px;
    row-gap: 4px;
    column-gap: 8px;
}

.container{
    display: flex;
    flex-direction: nowrap;
}

.hijo{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    color: whitesmoke;
    margin: 10px;
}